# Build artifacts
build/
dist/

# Python cache
__pycache__/
*.pyc
*.pyo
*.egg-info/

# macOS
.DS_Store

# PyInstaller
*.spec.bak

# IDE
.vscode/
.idea/

# Virtual environment
venv/
.venv/
env/
Development Manual
Development Manual_original
README.md
README.md
assets/slitscan_vertical_result_2.png
assets/slitscan_vertical_result_1.png
assets/rings_result_2.png
assets/rings_result_1.png
assets/cuboid_fill_result_2.png
assets/cuboid_fill_result_1.png
/paper
